*, ::before, ::after { box-sizing: border-box; }

html { line-height: 1.15; font-family: georgia, palatino, serif; background-color: #FFF; color: #000; }

@media(prefers-color-scheme: dark) {
  html { line-height: 1.15; font-family: georgia, palatino, serif; background-color: #000; color: #FFF; }
}

/* top bar: quick links with search box */
.bar { margin-bottom: 2em; display: flex; flex-wrap: wrap; justify-content: flex-end; gap: 0.5em; }
.ql { flex: 1 20 auto; }
.srch { flex: 20 20 25ch; max-width: 45ch; }
#vh-srch-input {  /* make it look like the select2 box next to it */
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
    width: 100%;
    line-height: 28px;
    padding-left: 8px;
    padding-right: 20px;
    font-family: georgia, palatino, serif;
    font-size: 1em;
}
#vh-srch-input::placeholder {
    color: #999;
    opacity: 1;
}

/* "Go to tag" search box */
select#vh-select-tag { display: none; }
.select2-container * { font-family: monospace, monospace; }
.select2-results__message,
.select2-selection__placeholder,
.select2-results .loading-results {
    font-family: georgia, palatino, serif;
}

main {
  display: flex;
  align-items: start;
}

#vh-content {
  order: 1;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

pre {
  font-family: monospace, monospace;
  width: 80ch;
}

#vh-sidebar {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 18pt;
  padding-right: 0.8em;
  background: #eef;
  border-radius: 15px;
}

footer { font-size: 85%; padding: 1em 0; }

/* hidden links */
a.d { color: black; }
a.d:link, a.d:visited { text-decoration: underline silver; }
a.d:active, a.d:hover { text-decoration: underline black; }

/* standard links */
a.l:link { color: rgb(0, 137, 139); }
a.l:visited { color: rgb(0, 100, 100); }
a.l:active, a.l:hover { color: rgb(0, 200, 200); }

/* title */
.i { color: rgb(0, 137, 139); }

/* tag */
.t { color: rgb(250, 0, 250); }

/* header */
.h { color: rgb(164, 32, 246); }

/* keystroke */
.k { color: rgb(106, 89, 205); }

/* example */
.e { color: rgb(0, 0, 255); }

/* special (used for various) */
.s { color: rgb(106, 89, 205); }

/* note */
.n { color: blue; background-color: yellow; }

/* option */
.o { color: rgb(46, 139, 87); font-weight: bold; }

/* section */
.c { color: rgb(165, 42, 42); font-weight: bold; }

/* external url */
.u { color: rgb(250, 0, 250); }

@media(prefers-color-scheme: dark) {
  /* hidden links */
  a.d { color: #FFF; }
  a.d:link, a.d:visited { text-decoration: underline silver; }
  a.d:active, a.d:hover { text-decoration: underline black; }

  /* note */
  .n { color: yellow; background-color: blue; }

  .select2-container--default .select2-selection--single {
    background-color: rgb(59, 59, 59) !important;
  }
  .select2-dropdown {
    background-color: rgb(59, 59, 59) !important;
  }
}
